{{!< default}}


{{! The main content area on the homepage }}
<main role="main">

    {{! Each post will be output using this markup }}
    {{#foreach posts}}

    <article class="{{post_class}}">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>

        </header>
        <section class="post-content">
            <p>{{content}}</p>
            <span class="post-meta"><time datetime="{{date format='YYYY-MM-DD'}}"><a href="{{url}}">{{date format="DD MMM YYYY"}}</a></time> {{#if tags}}on {{tags}}{{/if}}</span>
            <br>
            <a id="twitter-bar" href="https://twitter.com/intent/tweet?text=%22{{encode title}}%22%20by%3A%20@spencemcc&amp;url={{url absolute="true"}}"
                onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
                <i class="fa fa-twitter"></i>
                <span>Tweet</span>
            </a>
        </section>
    </article>

    {{/foreach}}

    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>